#title-bar {
    color: transparent;
    background-color: #222;
}

#title-bar * {
    border: 10px solid transparent;
    border-top: 0;
    border-bottom: 0;
    color: white;
    font-weight: bold;
}

#content {
    background-color: #444;
    color: white;
}

#content * {
    color: white;
}

#content QPushButton {
    background-color: #333;
}
